main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.points{
  color: #9BA2FF;
  font-size: 22px;
}
img{
  transform: scale(40%);
  transition: transform 0.5s linear;
}

.animate-img{
  transform: scale(100%);
}
